@using EntidadesNegocio.EntidadesDto;
@inject PlantaService PlantaService;
@inject AreaService AreaService;

<div class="col-lg-9 contact-form__wrapper p-5 order-lg-1 border border-3 formDesign">

    <EditForm Model="areaDTO" OnValidSubmit="GuardarArea">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-sm-12 mb-3">
                <div class="form-group">
                    <label for="nombre">Nombre: </label>
                    <input type="text" class="form-control" id="nombre" @bind="areaDTO.nombre" required >
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-group">
                    <label class="required-field" for="responsable">Responsable: </label>
                    <input type="text" class="form-control" id="responsbale" @bind="areaDTO.responsable" required>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-group">
                    <label for="telefonoContacto">Teléfono: </label>
                    <input type="text" class="form-control" id="telefonoContacto" @bind="areaDTO.telefonoContacto" required>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-group">
                    <label for="emailContacto">Email: </label>
                    <input type="email" class="form-control" id="emailContacto" @bind="areaDTO.emailContacto" required>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="5" @bind="areaDTO.descripcion" required></textarea>
                </div>
            </div>

            <div class="col-sm-12 mb-3">
                <button type="submit" name="submit" class="btn btn-primary">Guardar</button>
            </div>

        </div>
    </EditForm>
</div>
<br />

<ModalPersonalizado @ref="modalRegistroExitoso" />
@code {
    private ModalPersonalizado modalRegistroExitoso;
    AreaDTO areaDTO = new AreaDTO();
 
    protected async Task GuardarArea()
    {
        await PlantaService.AgregarArea(areaDTO);

        // Limpiar los campos del formulario 
        areaDTO = new AreaDTO();
        modalRegistroExitoso.Mostrar("El registro se realizo correctamente");
    }

}
