@using System.Numerics;
@using EntidadesNegocio.EntidadesDto;
@inject VisitaService VisitaService;
@inject AuthenticationStateProvider AuthenticationStateProvider;
@inject UsuarioService usuarioService;

<div class="pt-4">
    <h4>Cantidad de visitas por responsable asignadas para este mes</h4>

    @if (ListaVisitas == null)
    {
        <p>Cargando...</p>
    }
    else if (ListaVisitas.Count == 0)
    {
        <p class="pt-3">No se han registrado visitas este mes</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID responsable</th>
                    <th>Nombre</th>
                    <th>Visitas asignadas</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var revision in ListaVisitas)
                {
                    <tr>
                        <td>@revision.idResponsable</td>
                        <td>@revision.nombreResponsable</td>
                        <td>@revision.cantidad</td>
                    </tr>
                }
            </tbody>
        </table>
    }


</div>


@code {
    private List<VisitaDTO> ListaVisitas;
    private long identificacionEmpresa = 0;
    private bool rolEmpresa = false;
    private bool rolEmpleado = false;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = AuthenticationStateProvider.GetAuthenticationStateAsync();
        var usuario = authenticationState.Result.User.Identity.Name;
        rolEmpresa = authenticationState.Result.User.IsInRole("EMPRESA");
        rolEmpleado = authenticationState.Result.User.IsInRole("EMPLEADO");
        if (rolEmpresa)
        {
            identificacionEmpresa = usuarioService.ObtenerIdentificacionEmpresaPorUsuario(usuario);
        }

        if (rolEmpleado)
        {
            identificacionEmpresa = usuarioService.ObtenerIdentificacionEmpresaPorUsuarioEmpleado(usuario);
        }

        ListaVisitas = await VisitaService.VisitasPorResponsable(identificacionEmpresa);
    }
}


